  /* Current Balance Button */
  .curr_bal_button{
    margin: 8px;font-size:10px;
    font-family: 'Abel', sans-serif;
  }

  /* Deposit Button*/
  .deposit_button{
        margin: 8px;font-family: 'Source Code Pro', monospace;
        font-family: 'Abel', sans-serif;

  }

  /*Dropdown font*/
  .dropdown_font{
    font-family: 'Abel', sans-serif;
  }