/*Graph content*/
.graph_content{
    margin-right:-20px;
  }

  /* Graph Styling */
  .graph_styling{
    height: 450px; width:100%;
  }

  /*Right Panel*/
  .right_panel{
    background-color: #F8F8F8;height:100%;margin-top:-20px;padding-bottom: 10%;
  }

 
   /* Marquee styling  */

   ul li{
    display: inline;
  }

  li {
    padding:10px;
    margin: 10px;
  }

  .marquee_row{
    background-color: #F8F8F8;
    font-family: 'Abel', sans-serif;

  }