.broker_ui{
    font-family: 'Plaster', cursive;
    font-family: 'Black Han Sans', sans-serif;
   
    /* background: linear-gradient(-90deg, #00d8d6,#fff ); */

    
}

.broker_list{
    list-style-type: none;
}