<!--Right Panel-->
<div class="col-md-2 right_panel">
<!--Form start-->
<form #myForm="ngForm" novalidate>
  <div class="row">

      <div class="form-group row">
           
          <div  style="margin-left: 60px;margin-right:50px ">
              <span class="label label-warning"  style="padding: 10px;">Set Stock Name</span>
              <br>
              <br>
          <select class="form-control"  (change)="onSelected($event)" id="sel1" name="stock" [(ngModel)]="Model.stockname">
              <option *ngFor="let stock_name of stock_names" [value]="stock_name.stockName">{{stock_name.stockName}}</option>
          </select>
          <br>
          <!-- <a type="button" style="cursor: default;"class="btn btn-warning set_buttons">Set Time</a> -->
         


          </div>  
        </div>

  </div>

 <div class="row">
     <div class="container set_buttons_div" >
           <div class="form-group row">
             <div class="col-xs-2">
                <span class="label label-info"  style="padding: 10px 22px 10px 10px;">Set Quantity   </span>
                <br>
                <br>
               <input class="form-control" id="ex1" type="text" name="quantity" [(ngModel)]="Model.quantity">
               <br>
               
             </div>  
           </div>
       </div>
 </div>
 <br>
 <div class="row">
    <a  class="btn btn-sq-lg btn-success b_s_buttons" (click)="formBSubmit()">
     <i class="glyphicon glyphicon-thumbs-up fa-5x"></i><br/>
     Buy
   </a>
 </div>
 <br>
 <div class="row">
  <a  class="btn btn-sq-lg btn-danger b_s_buttons" (click)="formSSubmit()">
   <i class="glyphicon glyphicon-thumbs-down fa-5x"></i><br/>
   Sell
 </a>
</div>
</form>
 <br>
 <!-- <div class="row">
         <a href="#" class="btn btn-sq-lg btn-danger b_s_buttons" >
                 <i class="glyphicon glyphicon-thumbs-down fa-5x"></i><br/>
                 Sell
               </a>
 </div> -->

   

          
</div>