<!--Right Panel-->
<div class="col-md-2 right_panel">
  <br>
 <div class="row">
     <div class="container set_buttons_div" >
         <form (submit)="submitPForm($event)">
           <div class="form-group row">
             <div class="col-xs-2">
               <input class="form-control" id="ex1" type="text">
               <br>
               <button type="submit" class="btn btn-warning set_buttons">Set Price</button>
             </div>  
           </div>
         </form>
       </div>
 </div>
 <div class="row">
     <div class="container set_buttons_div" >
         <form (submit)="submitQForm($event)">
           <div class="form-group row">
             <div class="col-xs-2">
               <input class="form-control" id="ex1" type="text">
               <!-- {{uname}} -->
               <br>
               <button type="submit" class="btn btn-info set_buttons">Set Quantity</button>
             </div>  
           </div>
         </form>
       </div>
 </div>
 <br>
 <div class="row">
         <a href="#" class="btn btn-sq-lg btn-success b_s_buttons" >
                 <i class="glyphicon glyphicon-thumbs-up fa-5x"></i><br/>
                 Buy
               </a>
 </div>
 <br>
 <div class="row">
         <a href="#" class="btn btn-sq-lg btn-danger b_s_buttons" >
                 <i class="glyphicon glyphicon-thumbs-down fa-5x"></i><br/>
                 Sell
               </a>
 </div>

   

          
</div>